{%comment%}
<div class="CustomTubes-selling_points">
    <ul>
        <li>Customize packaging that is specifically design to fit both your product &amp; brand to help you stand out from the competition</li>
        <li>Exact pricing based on your customizations and quantity.</li>
        <li>Expert advice from specing your packaging all the way to production and delivery.</li>
    </ul>
</div>
{%endcomment%}

<a href="/pages/custom-paper-tube" class="action_button add_to_cart CustomTubes-get_a_quote_button" data-label="Get a Quote">Get a Quote</a>

{%comment%}
<a href="/pages/custom-paper-tubes" class="action_button CustomTubes-timeline_warning_button">Need customization or ordering over 1000 pieces? Request a quote.</a>

<div class="product_details_container">
<!--Start tab labels-->
<ul class="tabs">
{% if product.type != 'Custom' %}

  <li><a href="#tab1" class="active dropdown_link ignore-me" data-scroll-ignore>Description</a></li>
{% else %}
  <li><a class="active" href="#tab1" class="dropdown_link" data-scroll-ignore>Description</a></li>
{% endif %}
</ul>
<!--Start tab content-->
{% if product.type != 'Custom' %}
<ul class="tabs-content">

  <li class="active" id="tab1">{{ product.description }}</li>
</ul>
{% else %}
<ul class="tabs-content">
  <li class="active" id="tab1">{{ product.description }}</li>
</ul>

{% endif %}
</div>
{%endcomment%}