{% if type == 'block'%}
{% assign quote_content = block.settings.quote_content %}
{% assign paragraph_content = block.settings.paragraph_content %}
{% endif %}

<div class="quote-paragraph-section">

    <div class="container">
        <div class="four columns">

            <div class="quote-container">
                <h3>{{quote_content}}</h3>
            </div>
        </div>

        <div class="ten columns offset-by-one">
            <div class="content-container">
                <p>{{paragraph_content}}</p>
            </div>
        </div>

    </div>
</div>