{% if type =='block' %}
  {% assign quote_text = block.settings.quote_text %}
  {% assign quote_author = block.settings.quote_author %}
  {% assign quote_color = block.settings.quote_color %}
{% endif %}

<div class="quote-section">
  <div class="container">
    <div class="fourteen columns offset-by-one">
          <div class="quote-wrapper quote-{{quote_color}}">
              {% if quote_text != blank %}
              {{ quote_text }}
              {% endif %}
              {% if quote_author != blank %}
              <span>{{ quote_author }}</span>
              {% endif %}
          </div>
      </div>
  </div>
</div>