{% comment %}
** Social feeds (Instagram and Twitter) - homepage partial **
- Draggable section
- Uses blocks
{% endcomment %}

<div class="container social-feeds-wrap">
  <div class="section clearfix homepage_content">

        <div class="block__instagram sixteen columns equal-columns--outside-trim">
          <h2 class="title insta center">
              <a href="{{ settings.instagram_link }}" target="_blank">
                    Our Tubes in the Wild
              </a>
          </h2>

          {% if settings.instagram_client_id != blank %}
            <div id="instafeed" class="js-instafeed" data-client-id="{{ settings.instagram_client_id | strip }}" data-count="{{ settings.instagram_count }}" data-column="eight"></div>
          {% else %}
            <div id="instafeed" class="clearfix placeholder-instagram">

              {% for i in (1..settings.instagram_count) %}
                <div class="eight columns instagram__item small-down--one-whole">
                  <a href="#" class="instagram__link">
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--instagram' }}
                  </a>
                </div>
              {% endfor %}
              
            </div>
          {% endif %}
        </div>

  </div>
</div>


