{% if type == 'block'%}
{% assign quote_content = block.settings.quote_content %}
{% assign paragraph_one_content = block.settings.paragraph_one_content %}
{% assign paragraph_two_content = block.settings.paragraph_two_content %}

{% endif %}
<div class="container-white">
    <div class="quote-paragraph-section">

        <div class="container">
            <div class="four columns">

                <div class="quote-container">
                    <h3>{{quote_content}}</h3>
                </div>
            </div>

            <div class="five columns offset-by-one">
                <div class="content-container">
                    <p>{{paragraph_one_content}}</p>
                </div>
            </div>

            <div class="five columns offset-by-one">
                <div class="content-container">
                    <p>{{paragraph_two_content}}</p>
                </div>
            </div>

        </div>
    </div>
</div>