<div id="the-vault" class="overlay">
  <div class="popup-outer">
    <div class="popup">
      <h3>Get A Quote</h3>
      {% if page.handle != 'custom-paper-tubes' %}
      <iframe id="pardot-iframe" src="https://go.papertube.co/l/695353/2020-05-18/6hqby" width="100%" type="text/html" frameborder="0" allowtransparency="true" style="border: 0"></iframe>
      {% endif %}

    </div>
    <a class="close" href="#">
      <svg class="icon-remove " aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">  <title>Remove icon</title>  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.11611 5.00001L0.327286 8.78884L1.21117 9.67272L5 5.88389L8.78883 9.67272L9.67271 8.78884L5.88388 5.00001L9.67271 1.21118L8.78882 0.327301L5 4.11613L1.21117 0.327301L0.327286 1.21118L4.11611 5.00001Z" fill="currentColor"></path></svg>
    </a>
  </div>
</div>

<div id="the-logo" class="overlay">
  <div class="popup-outer">
    <div class="popup">
      {% assign page = settings.logoContent %}
      {{ pages[page].content }}
    </div>
    <a class="close" href="#">
      <svg class="icon-remove " aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">  <title>Remove icon</title>  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.11611 5.00001L0.327286 8.78884L1.21117 9.67272L5 5.88389L8.78883 9.67272L9.67271 8.78884L5.88388 5.00001L9.67271 1.21118L8.78882 0.327301L5 4.11613L1.21117 0.327301L0.327286 1.21118L4.11611 5.00001Z" fill="currentColor"></path></svg>
    </a>
  </div>
</div>

<style>
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index:999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .popup .button{
    position: relative;
  }
  .popup .info{
    display:none; 
    font-size: 16px;
    margin-top: 10px;
    color: green;
  }
  .popup h5{
    margin:0;
    padding:0;
  }
  .popup {
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    width: 35%;
    position: relative;
    transition: all 1s ease-in-out;
    height:450px;
    overflow:auto;
  }
  .popup p{
    margin:0;
    line-height:1.3;
  }
  .popup-outer .close {
    position: absolute;
    top: 8px;
    right: 8px;
    transition: all 200ms;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    background: rgba(29,29,29,0.2);
    padding: 2px 6px;
    border-radius: 50%;
    height: 20px;
    line-height: 16px;
  }

  #ContactFormMessage {
    height: 100px !important;
    max-height: none;
    min-height: 100px !important;
  }
  .page-contact-form {
    margin-top: 0;
  }
  
</style>