{% comment %} 
{% case quantity %}
 {% when '10' %}
    {% assign per_tube_price = '1.00' %}
 {% when '25' %}
    {% assign per_tube_price = '2.50' %}
 {% when '50' %}
    {% assign per_tube_price = '5.00' %}
 {% when '100' %}
    {% assign per_tube_price = '10.00' %}
 {% when '250' %}
    {% assign per_tube_price = '25.00' %}
 {% when '500' %}
    {% assign per_tube_price = '50.00' %}
 {% when '1000' %}
    {% assign per_tube_price = '100.00' %}
 {% when 'Over 1000' %}
    {% assign per_tube_price = '150.00' %}
 {% else %}
    {% assign per_tube_price = 'base price' %}
{% endcase %} {% endcomment %}

<span>
{{ bold_item_price | money}} / tube
</span>