<div class="quote-paragraph-section">

    <div class="container">

        <div class="quote-container">
            <h3>Quote</h3>
        </div>

        <div class="content-container">
            <p> Lorem Ipsum </p>
        </div>

    </div>

</div>