{% comment %}
** Image with text overlay - homepage partial **
- Draggable section
{% endcomment %}

<div class="js-testimonial-overlay testimonial-overlay-slider">
  {%- for block in section.blocks -%}
    {% include 'include-testimonial-overlay',
      type: 'block',
      block: block
    %}
  {%- endfor -%}
</div>
{% schema %}

{
  "name": "Testimonial overlay",
  "class": "testimonial-overlay",
  "settings": [
    {
      "type": "checkbox",
      "id": "wide_display",
      "label": "Wide display",
      "default": true
    },
    {
      "type": "select",
      "id": "collapse_type",
      "label": "Collapse Style",
      "options": [
        {
          "value": "collapse",
          "label": "Collapse"
        },
        {
          "value": "overlay",
          "label": "Overlay"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1800 x 1000px recommended"
    },
    {
      "type": "image_picker",
      "id": "profile_pic",
      "label": "Profile Picture"
    },
    {
      "type": "richtext",
      "id": "testimonial",
      "label": "Quote"
    },
    {
       "type": "text",
       "id": "profile_byline",
       "label": "Author"
    },
    {
      "type": "checkbox",
      "id": "caption_background",
      "label": "Display solid text background",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "caption_background_transparency",
      "label": "Enable background transparency"
    },
    {
      "type": "select",
      "id": "font_color",
      "label": "Font Color",
      "options": [
        {
          "value": "dark",
          "label": "Dark"
        },
        {
          "value": "light",
          "label": "Light"
        }
      ]
    },
    {
      "type": "select",
      "id": "wide_content",
      "label": "Caption Width",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "wide",
          "label": "Wide"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "text",
      "id": "button1",
      "label": "First button label"
    },
    {
      "type": "url",
      "id": "button1_link",
      "label": "First button link"
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "checkbox",
          "id": "wide_display",
          "label": "Wide display",
          "default": true
        },
        {
          "type": "select",
          "id": "collapse_type",
          "label": "Collapse Style",
          "options": [
            {
              "value": "collapse",
              "label": "Collapse"
            },
            {
              "value": "overlay",
              "label": "Overlay"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1800 x 1000px recommended"
        },
        {
          "type": "image_picker",
          "id": "profile_pic",
          "label": "Profile Picture"
        },
        {
          "type": "richtext",
          "id": "testimonial",
          "label": "Quote"
        },
        {
           "type": "text",
           "id": "profile_byline",
           "label": "Author"
        },
        {
          "type": "checkbox",
          "id": "caption_background",
          "label": "Display solid text background",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "caption_background_transparency",
          "label": "Enable background transparency"
        },
        {
          "type": "select",
          "id": "font_color",
          "label": "Font Color",
          "options": [
            {
              "value": "dark",
              "label": "Dark"
            },
            {
              "value": "light",
              "label": "Light"
            }
          ]
        },
        {
          "type": "select",
          "id": "wide_content",
          "label": "Caption Width",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "wide",
              "label": "Wide"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_position",
          "label": "Text position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
          "type": "text",
          "id": "button1",
          "label": "First button label"
        },
        {
          "type": "url",
          "id": "button1_link",
          "label": "First button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with text overlay",
      "category": "Image",
      "settings": {
        "image": "",
        "text_position": "center",
        "text_align": "center"
      }
    }
  ]
}

{% endschema %}