
    <div class="sixteen columns">
            <div class="value-props-row--container">
              {% if section.settings.display_trustpilot  %}
                <div class="value-props--column">
                <!-- TrustBox widget - Micro Star -->
                <div id="trustbox" class="trustpilot-widget" data-locale="en-US" data-template-id="5419b732fbfb950b10de65e5" data-businessunit-id="531dbb3a0000640005785c93" data-style-height="24px" data-style-width="100%" data-theme="light">
                </div>
                <!-- End TrustBox widget -->
                </div>

              {% endif %}
              {% if section.blocks.size > 0 %}
                {% for block in section.blocks %}
                    <div class="value-props--column">
                        <img src="{{block.settings.icon | img_url: 'x40'}}">
                        <h5>{{block.settings.iconLabel}}</h5>
                    </div>
                {% endfor %}
            {% endif %}

            </div>
    </div>


{% schema %}
  {
    "name": "Value-Props",
    "class": "value-props-row",
    "max_blocks": 8,
    "settings": [
      {
          "type": "checkbox",
          "id": "display_trustpilot",
          "label": "Display Trust Pilot",
          "default": true
      }
    ],
    "blocks": [
      {
        "type": "icon",
        "name": "Icon",
        "settings": [
                {
                    "type": "image_picker",
                    "id": "icon",
                    "label": "Icon"
                },
                {
                    "type": "text",
                    "id": "iconLabel",
                    "label": "Icon Label"
                }
        ]
      }
    ],
     "presets": [
      {
        "name": "Value Props Row",
        "category": "Content",
        "blocks": [
          {
            "type": "icon"
          }
        ]
      }
    ]
  }
{% endschema %}
