<a name="pagecontent" id="pagecontent"></a>

<div class="container container-white">
  <div class="sixteen columns page-wrapper">
    <div class="fourteen offset-by-one columns page clearfix">
      <h1 class="title text-center">
        {{ page.title }}
      </h1>

      <div>
        {% include 'page-multi-column', content: page.content %}
      </div>
    </div>
  </div>
</div>

{% if page.handle == 'thank-you' %}
<!-- <script>fbq('track', 'Lead');</script> -- Old script -->
<script>
window.addEventListener('load', function() {
fbq('track', 'Lead');
});
</script>
{% endif %}