<a name="pagecontent" id="pagecontent"></a>

{% capture testbanner %}{% section 'image-with-text-overlay' %}{% endcapture %}
{% comment %}
{% capture logolist %}{% section 'logo-bar' %}{% endcapture %}
{% capture secondlogolist %}{% section 'logo-bar-second' %}{% endcapture %}
{% endcomment %}
{% capture quoteform %}{% section 'quote-form' %}{% endcapture %}
{% capture fiftyfifty %}{% section 'image-text' %}{% endcapture %}
{% comment %}
{% capture imagewithtext %}{% section 'text-columns-with-images' %}{% endcapture %}
{% endcomment %}
{% capture testimonial %}{% section 'testimonial-overlay' %}{% endcapture %}
{% capture instagram %}
<div class="container-white">
  {% section 'social-feeds' %}
</div>
{% endcapture %}
{% capture requestquote_template_content %}

    %%BANNER%%
	%%QUOTEFORM%%
    <div class="container">
    %%LOGOLIST%%
    %%SECONDLOGOLIST%%
    </div>
    %%FIFTYFITY%%

    <div class="container">
    %%IMAGEWITHTEXT%%
    </div>

    %%TESTIMONIAL%%
	%%INSTAGRAM%%
    


{% endcapture %}

{% assign requestquote_template_content  = requestquote_template_content | replace: "%%BANNER%%", testbanner %}
{% assign requestquote_template_content  = requestquote_template_content | replace: "%%LOGOLIST%%", logolist %}
{% assign requestquote_template_content  = requestquote_template_content | replace: "%%SECONDLOGOLIST%%", secondlogolist %}
{% assign requestquote_template_content  = requestquote_template_content | replace: "%%FIFTYFITY%%", fiftyfifty %}
{% assign requestquote_template_content =  requestquote_template_content | replace: "%%IMAGEWITHTEXT%%", imagewithtext %}
{% assign requestquote_template_content  = requestquote_template_content | replace: "%%TESTIMONIAL%%", testimonial %}
{% assign requestquote_template_content  = requestquote_template_content | replace: "%%QUOTEFORM%%", quoteform %}
{% assign requestquote_template_content  = requestquote_template_content | replace: "%%INSTAGRAM%%", instagram %}

{{ requestquote_template_content }}

<style>
  .quote-container{
    margin-bottom: 50px !important;
  }
  .quote-form-section{
    padding-bottom: 0px !important;
  }
  
  @media (max-width:768px){
    .quote-container{
      margin-bottom: 35px !important;
    }
    .social-feeds-section div.section {
      margin-top: 0;
    }
    .social-feeds-section {
      padding: 0 0 50px 0px;
    }
  }
  
</style>