{% capture logolist %}{% section 'logo-bar' %}{% endcapture %}
{% capture secondlogolist %}{% section 'logo-bar-second' %}{% endcapture %}
{% capture abouttemplate %}{% section 'page-about-template' %}{% endcapture %}

{% capture about_template_content %}


    %%TEMPLATE%%

    <div class="container">
        %%LOGOLIST%%
        %%SECONDLOGOLIST%%
    </div>

{% endcapture %}

{% assign about_template_content   = about_template_content  | replace: "%%LOGOLIST%%", logolist %}
{% assign about_template_content   = about_template_content  | replace: "%%SECONDLOGOLIST%%", secondlogolist %}
{% assign about_template_content   = about_template_content  | replace: "%%TEMPLATE%%", abouttemplate %}

{{ about_template_content }}