<a name="pagecontent" id="pagecontent"></a>
{% section 'landing_1' %}
{% section 'landing_2' %}
{% section 'landing_3' %}
{% section 'landing_4' %}
{% section 'landing_5' %}
{% section 'landing_6' %}
{% section 'landing_7' %}
{% section 'landing_8' %}
{% section 'landing_9' %}
{% section 'landing_10' %}
{% section 'landing-footer' %}

<style>
  .footer{
    display:none;
  }
  /*  nav  */
  .main_nav .nav,#header .top_bar a.mobile_nav,.top_bar .top_bar--right {
    opacity: 0;
  }
  /*  two block image  */
  div.image-with-text-overlay-section .banner .caption-content .subtitle p{
    color:#60605d;
  }
  .two-column-images--container .two-column-images--column .caption-content {
    padding: 45px 65px;
  }
  .two-column-images--container .two-column-images--column .caption-content .subtitle.subtitle-small {
    color: #60605d;
  }
  .two-column-images--container .two-column-images--column .caption-content .subtitle.subtitle-small p{
    margin-bottom: 40px;
  }
  .two-column-images--container .two-column-images--column:hover .caption,.two-column-images--container .two-column-images--column:hover:after{
    opacity:1;
    cursor:pointer;
  }
  .two-column-images--container .two-column-images--column .caption {
    opacity:0;
    z-index: 2;
    transition:all 0.5s;
  }
  .two-column-images--container .two-column-images--column:after {
    content: '';
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition:all 0.2s;
  }
  /* hero banner button */
  .image-with-text-overlay-section .action_button {
    margin-left: 0;
    color: #b3ddcf;
    opacity: 1;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 10px 40px;
  }
  div.image-with-text-overlay-section .banner .caption-content.caption-background-true {
    padding: 45px 75px;
  }
  /*  collection product  */
  .collection-template-section .collection-container .one-third.column {
    width: 28% !important;
    min-width: 250px;
    padding: 10px;
    padding-bottom: 30px;
    margin: 10px !important;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0);
  }
  .collection-template-section h2.title {
    margin: 0;
    text-align: center;
  }
  .collection-template-section p.subtitle {
    text-align: center;
    font-size: 16px;
  }
  .collection-template-section .collection-container .thirteen.columns {
    margin: 0 auto;
    float: none;
  }
  .collection-template-section {
    padding: 100px 0;
  }
  /*  brand  */
  .brand{
    background: #ececec;
    padding-bottom: 50px;
  }
  .brand .title {
    margin:0;
    padding:70px 0;
    text-align:center;
    color:#777878;
  }
  .top-brand,.bottom-brand {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

  }
  .image-wrapper {
    width: 25%;
    margin-bottom: 50px;
  }
  .image-wrapper img {
    max-width: 100px;
  }
  .bottom-brand .image-wrapper img {
    max-width: 180px;
  }
  table h2{
    margin:0;
    padding:0;
  }
  table,
  table tbody tr {
    /*     border-collapse: separate; */
  }
  table tbody tr:nth-child(2) td,
  table tbody tr:nth-child(n-1) td{
    /*     border-radius: 5px; */
  }
  .landing-custom-table table tr td{
    /*   	border:1px solid #dcdcdc; */
  }
  table{
    margin:0;
  }
  .main-table{
    margin: 0;
    border-collapse: separate;
    border-radius: 5px;
    border: 2px solid #dcdcdc;
  }
  .main-table tr td {
    border: 1px solid #dcdcdc;
  }
  .header-table th{width:33.33%;}
  .header-table th,.footer-table th,.header-table tr,.footer-table tr,.header-table td,.footer-table td{border:0px solid !important;}
  .image-mobile{
    display:none;
  }
  @media (max-width:767px){
    .image-mobile{
      display:block;
    }
  }
  @media (max-width:768px){
    .brand {
      padding-bottom: 30px;
    }
    .top-brand, .bottom-brand {
      width: 80%;
      margin: 0 auto;
    }
    .two-column-images--container .two-column-images--column .caption-content {
      padding: 25px 0px;
    }
    div.image-with-text-overlay-section .banner .caption-content.caption-background-true {
      padding: 50px 45px;
    }
    div.image-with-text-overlay-section .banner .image-element__wrap {
      padding-top: 40.25%;
      position: relative;
    }
    .image-wrapper {
      width: 50%;
      margin: 45px 0;
    }
    .brand .title {
      padding: 40px 0;
    }
    .bottom-brand .image-wrapper{
      margin: 20px 0;
    }
    .bottom-brand .image-wrapper img {
      max-width: 75px;
    }
    .image-wrapper img {
      max-width: 75px;
    }
    /*   product   */
    .collection-template-section {
      padding: 50px 0;
    }
    .collection-template-section .collection-container .one-third.column {
      padding: 10px 10px 0;
      padding-bottom: 0;
      margin: 10px 10px 0 !important;
    }
    /*   two block   */
    .two-column-images--container .two-column-images--column .caption {
      opacity:1;
    }
    .two-column-images--container .two-column-images--column:after {
      display:none;
    }
    .footer-table .action_button{
      min-width: 150px;
      font-size: 12px !important;
    }
    .landing-custom-table table {
      overflow: hidden;
    }
  }

</style>